<h1>Hello <%= @user[:name] %>! Welcome to PWSched!</h1>
<p>
  You have successfully signed up for PWSched! <br>
  Your username is: <strong><%= @user[:email] %></strong>.<br>
  You are associated with the <strong><%= @user[:congregation] %> Congregation</strong>.
</p>

<p>If you need any help, please check out the <a href="https://pwsched.herokuapp.com/pages/help">
  Help Page</a> or <a href="mailto:publicwitnessingscheduler@gmail.com">Contact Us</a>.</p>

<p>Thanks for joining and have a great day!</p>
