<%= render 'shifts/navbar' %>

<div class="container">
  <h1>PWSched</h1>

  <h3>Scheduling Software for Public Witnessing Activities</h3>

  <p>PWSched is designed to help schedule public and metropolitan witnessing. The app is based on three simple steps:</p>
    <ol>
        <li>Admin creates available shifts</li>
        <li>Volunteers request shifts</li>
        <li>Admin approves volunteers for each shift</li>
    </ol>
    <br>
    <%= link_to 'View Shifts', controller: 'shifts' %>
</div>
