<%= render 'shared/navbar' %>

<div class="container">
  <h1>Shifts - List View</h1>
  <h4><%= link_to 'Calendar View', calendar_path %></h4>
  <br />
  <%= render 'list_view' %>
  <% if policy(@shifts).new? %>
    <%= link_to 'Add Shift', new_shift_path, :class => "btn btn-primary"%>
  <% end %>
