<%= render 'shared/navbar' %>

<div class="container">
  <h1>Oops! There was an error processing your request!</h1>
  <h3>(code 500 - Internal Server Error)</h3>

  <p>Try to go back/refresh the page, if this error persists, please
    <a href="mailto:publicwitnessingscheduler@gmail.com?subject=500 Error Report">Contact Us</a>!</p>
    <p>In your email, please describe what you were doing when you received this error and we'll work
    to fix the problem.</p>
</div>
